
<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">
      <nb-card>
        <nb-card-header>
          <h2>Add Vehicle</h2>
        </nb-card-header>
        <nb-card-body>
          <div>
            <form data-toggle="" novalidate="">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="row">
                      <div class="col-md-4 col-sm-12">
                        <h5>Choose RC Book scan copy from your device</h5>
                        <br>
                        <input type="file" 
                        [(ngModel)]="data.image" 
                        name="image"
                        id="image"
                        accept="image/*" (change)="changeListener($event)">
                      </div>
                    </div>
                  </div>
                  <br>
                  <br>
              <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="row">
                  <div class="col-md-4 col-sm-12 form-group fixheight">
                    <div>
                      <label for="form-control-3" class="control-label">Model</label>
                    </div>
                    <div>
                      <input type="text" 
                      class="form-control" 
                      [(ngModel)]="data.model" 
                      name="agency"
                      id="model" 
                      placeholder="Vehicle Number" data-error="" required="">
                    </div>
                    <!-- <div class="help-block with-errors">
                      <ul class="list-unstyled">
                        <li>Please enter a Model</li>
                      </ul>
                    </div> -->
                  </div>
                  <div class="col-md-4 col-sm-12 form-group fixheight">
                    <label for="vehicleType" class="control-label">Vehicle Type</label>
                    <ng-select [options]="vehicleType" [(ngModel)]="data.vehicleType" 
                    name="vehicleType" id="vehicleType">
                    </ng-select>
                    <!-- <div class="help-block with-errors">
                      <ul class="list-unstyled">
                        <li>Please enter a Type</li>
                      </ul>
                    </div> -->
                  </div>
                  <div class="col-md-4 col-sm-12 form-group fixheight">
                    <label for="number" class="control-label">Vechile Number</label>
                    <input type="text" 
                    class="form-control" 
                    [(ngModel)]="data.number" 
                    name="number"
                    id="number" 
                    placeholder="Vehicle Number" data-error="" required="">
                    <!-- <div class="help-block with-errors">
                      <ul class="list-unstyled">
                        <li>Please enter a Vechile No</li>
                      </ul>
                    </div> -->
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="row">
                  <div class="col-md-4 col-sm-12 form-group fixheight">
                    <label for="form-control-2" class="control-label">ID</label>
                    <h5>234</h5>
                    <!-- <div class="help-block with-errors">
                      <ul class="list-unstyled">
                        <li>Please enter a Email ID</li>
                      </ul>
                    </div> -->
                  </div>
                  <div class="col-md-4 col-sm-12 form-group fixheight">
                    <label for="form-control-2" class="control-label">Manufacture Year</label>
                    <my-date-picker name="year" [options]="myDatePickerOptions1"
                    [(ngModel)]="data.year" id="year" required></my-date-picker>
                    <!-- <div class="help-block with-errors">
                      <ul class="list-unstyled">
                        <li>Please enter a Manufacture Year</li>
                      </ul>
                    </div> -->
                  </div>
                  <div class="col-md-4 col-sm-12 form-group fixheight">
                    <label for="form-control-2" class="control-label">Capacity</label>
                    <input type="text" 
                    class="form-control" 
                    [(ngModel)]="data.capacity" 
                    name="capacity"
                    id="capacity" 
                    placeholder="Vehicle capacity" data-error="" required="">
                    <!-- <div class="help-block with-errors">
                      <ul class="list-unstyled">
                        <li>Please enter a Capacity</li>
                      </ul>
                    </div> -->
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="row">
                  <div class="col-md-4 col-sm-12 form-group fixheight">
                    <label for="form-control-2" class="control-label">Driver</label>
                    <ng-select [options]="driver" [(ngModel)]="data.driver" 
                    name="driver" id="driver">
                    </ng-select>
                    <!-- <div class="help-block with-errors">
                      <ul class="list-unstyled">
                        <li>Please enter a Max Weight</li>
                      </ul>
                    </div> -->
                  </div>
                  <div class="col-md-4 col-sm-12 form-group padding">
                    <label for="status" class="control-label">Status</label>
                    <br>
                    <label class="switch">
                      <input type="checkbox" [(ngModel)]="status" name="status" (change)="ifChecked($event)">
                      <span class="slider round"></span>
                    </label>  
                  </div>
                  <div class="col-md-4 col-sm-12 form-group fixheight">
                    <label for="form-control-3" class="control-label">Helpers</label>
                    <select id="form-control-3" class="custom-select" data-error="This field is required." required="">
                      <option value="1">Yes</option>
                      <option value="2">No</option>
                    </select>
                    <!-- <div class="help-block with-errors">
                      <ul class="list-unstyled">
                        <li>Please enter a Helpers </li>
                      </ul>
                    </div> -->
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="row">                  
                  <div class="col-md-4 col-sm-12 form-group fixheight">
                    <label for="form-control-3" class="control-label">RC Book</label>
                    <select id="form-control-3" class="custom-select" data-error="This field is required." required="">
                      <option value="0">Select</option>                        
                      <option value="1">Approve</option>
                      <option value="2">Disapprove</option>
                      <option value="3">Edit</option>
                      <option value="4">Add</option>
                    </select>
                    <!-- <div class="help-block with-errors">
                      <ul class="list-unstyled">
                        <li>Please enter a Helpers </li>
                      </ul>
                    </div> -->
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-sm-12 form-group">
                <div class="row">
                  <div class="col-sm-6 " style="margin-bottom:5px;">
                    <div class="col-md-12">
                      <button type="submit" class="btn btn-primary btn-block" (click)="addVehicle()">Submit</button>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="col-md-12">
                      <button type="submit" class="btn btn-danger btn-block ">Cancel</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </nb-card-body>
        <nb-card-footer>
          <div class="site-footer">
            2017 © Logistica. Powered By <a href="http://wooftec.com/" target="_blank">wooftec</a>
         </div>
        </nb-card-footer>
      </nb-card>
    </div>
  
  
    <style>
      label {
        color: #000000 !important;
      }
  
      .form-control {
        padding: 0.35rem;
        border: 1px solid #ced4da;
      }
  
      .custom-select {
        border-color: 2px solid #ccccb3 !important;
      }
  
      .nb-theme-default .input-group-addon,
      .nb-theme-default .form-control {
        border: none !important;
      }
  
      .help-block {
        color: #868e96 !important;
      }
  
      select {
        width: 100%;
      }
      .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

select{
  border-radius: 0.35rem;    
    height: 2.3rem;
    border: 1px solid #ced4da;
}
    </style>

<script>
  $( document ).ready(function() {
    console.log( "ready!" );
    $('.date-own').datepicker({
         minViewMode: 2,
         format: 'yyyy'
       });
});
   
</script>