<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">
      <nb-card>
        <nb-card-header>
          <h2>Add Vehicle</h2>
        </nb-card-header>
        <nb-card-body>
          <div>
            <form data-toggle="" novalidate="">
              <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="row">
                  <div class="col-md-4 col-sm-12 form-group fixheight">
                    <div>
                      <label for="form-control-3" class="control-label">Model</label>
                    </div>
                    <div>
                      <select id="form-control-3" class="custom-select" data-error="This field is required." required="">
                        <option value="" selected="selected">Model</option>
                        <option value="1">2001</option>
                        <option value="2">2002</option>
                        <option value="5">2003</option>
                        <option value="6">2007</option>
                        <option value="7">2012</option>
                      </select>
                    </div>
                    <div class="help-block with-errors">
                      <ul class="list-unstyled">
                        <li>Please enter a Model</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-12 form-group fixheight">
                    <label for="form-control-3" class="control-label">Type</label>
                    <select id="form-control-3" class="custom-select" data-error="This field is required." required="">
                      <option value="" selected="selected">Type</option>
                      <option value="1">2001</option>
                      <option value="2">2002</option>
                      <option value="5">2003</option>
                      <option value="6">2007</option>
                      <option value="7">2012</option>
                    </select>
                    <div class="help-block with-errors">
                      <ul class="list-unstyled">
                        <li>Please enter a Type</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-12 form-group fixheight">
                    <label for="form-control-2" class="control-label">Vechile Number</label>
                    <input type="text" class="form-control" id="form-control-2" placeholder="Vechile No" data-error="" required="">
                    <div class="help-block with-errors">
                      <ul class="list-unstyled">
                        <li>Please enter a Vechile No</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="row">
                  <div class="col-md-4 col-sm-12 form-group fixheight">
                    <label for="form-control-2" class="control-label">Email ID</label>
                    <input type="text" class="form-control" id="form-control-2" placeholder="Email" data-error="Please enter a valid email address."
                      required="">
                    <div class="help-block with-errors">
                      <ul class="list-unstyled">
                        <li>Please enter a Email ID</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-12 form-group fixheight">
                    <label for="form-control-2" class="control-label">Manufacture Year</label>
                    <input type="text" class="form-control" id="form-control-2" placeholder="Manufacture Year" data-error="" required="">
                    <div class="help-block with-errors">
                      <ul class="list-unstyled">
                        <li>Please enter a Manufacture Year</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-12 form-group fixheight">
                    <label for="form-control-2" class="control-label">Capacity</label>
                    <input type="text" class="form-control" id="form-control-2" placeholder="Capacity" data-error="Please enter a valid email address."
                      required="">
                    <div class="help-block with-errors">
                      <ul class="list-unstyled">
                        <li>Please enter a Capacity</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="row">
                  <div class="col-md-4 col-sm-12 form-group fixheight">
                    <label for="form-control-2" class="control-label">Max Weight</label>
                    <input type="text" class="form-control" id="form-control-2" placeholder="Max Weight" data-error="Please enter a valid email address."
                      required="">
                    <div class="help-block with-errors">
                      <ul class="list-unstyled">
                        <li>Please enter a Max Weight</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-12 form-group fixheight">
                    <label for="form-control-2" class="control-label">Load</label>
                    <input type="text" class="form-control" id="form-control-2" placeholder="Load" data-error="Please enter a valid email address."
                      required="">
                    <div class="help-block with-errors">
                      <ul class="list-unstyled">
                        <li>Please enter a Load</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-12 form-group fixheight">
                    <label for="form-control-3" class="control-label">Helpers</label>
                    <select id="form-control-3" class="custom-select" data-error="This field is required." required="">
                      <option value="1">Yes</option>
                      <option value="2">No</option>
                    </select>
                    <div class="help-block with-errors">
                      <ul class="list-unstyled">
                        <li>Please enter a Helpers </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-sm-12 form-group">
                <div class="row">
                  <div class="col-sm-6 " style="margin-bottom:5px;">
                    <div class="col-md-12">
                      <button type="submit" class="btn btn-primary btn-block ">Submit</button>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="col-md-12">
                      <button type="submit" class="btn btn-danger btn-block ">Cancel</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </nb-card-body>
        <nb-card-footer>
          <div class="site-footer">
            2017 © Logistica. Powered By <a href="http://wooftec.com/" target="_blank">wooftec</a>
         </div>
        </nb-card-footer>
      </nb-card>
    </div>
  
  
    <style>
      label {
        color: #000000 !important;
      }
  
      .form-control {
        padding: 0.35rem;
        border: 1px solid #ced4da;
      }
  
      .custom-select {
        border-color: 2px solid #ccccb3 !important;
      }
  
      .nb-theme-default .input-group-addon,
      .nb-theme-default .form-control {
        border: none !important;
      }
  
      .help-block {
        color: #868e96 !important;
      }
  
      select {
        width: 100%;
      }
    </style>