<div class="row">
  <div class="col-md-12 col-lg-12 col-sm-12">
    <nb-card>
      <nb-card-header>

        <h2>Edit User</h2>

      </nb-card-header>
      <nb-card-body>
        <div>
          <form>
              <div class="col-md-12 col-lg-12 col-sm-12">
                  <div class="row">
                    <h3>Vendor Image:</h3>                    
                  </div>
                  <div *ngIf="data.image_id">
                      <img src="{{data.image_id.image}}" alt="" width="120px" height="120px">                 
                  </div>
                </div><br><br>
            <div class="col-md-12 col-lg-12 col-sm-12">
              <div class="row">
                <div class="col-md-4 col-sm-12">
                  <h4>Choose Profile Photo from your device</h4>
                  <br>
                  <input type="file" accept="image/*" (change)="changeListener($event)">
                </div>
              </div>
            </div>
            <br>
            <br>
            <div class="col-md-12 col-lg-12 col-sm-12">
              <div class="row">
                <div class="col-md-4 col-sm-12">
                  <h4>Choose your location from here</h4>
                  <br>
                  <button type="button" class="btn btn-primary" accept="image/*" (click)="getLocation()">Location</button>
                </div>
              </div>
            </div>
            <br>
            <div class="col-md-12 col-lg-12 col-sm-12">
              <div class="row">
                <div class="col-md-4 col-sm-12 form-group padding">
                  <label for="name" class="control-label">Name</label>
                  <input type="text" class="form-control" [(ngModel)]="data.name" name="name" placeholder="Name" data-error="" required="">

                </div>
                <div class="col-md-4 col-sm-12 form-group padding">
                  <label for="email" class="control-label">Email</label>
                  <input type="text" class="form-control" id="email" [(ngModel)]="data.email" name="email" #clientFirstName="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                    placeholder="Email" data-error="" required="">

                </div>
                <div class="col-md-4 col-sm-12 form-group padding">
                  <label for="password" class="control-label">Confirm Password</label>
                  <input type="password" class="form-control" id="password" [(ngModel)]="data.password" name="password" placeholder="Password"
                    data-error="Please enter a valid email address." required="">

                </div>
              </div>
            </div>
            <div class="col-md-12 col-lg-12 col-sm-12">
              <div class="row">
                <div class="col-md-4 col-sm-12 form-group padding">
                  <label for="id" class="control-label">Id</label>
                  <h5>{{data.id}}</h5>

                </div>
                <div class="col-md-4 col-sm-12 form-group padding">
                  <label for="email" class="control-label">Age</label>
                  <h5>{{currentAge}}</h5>

                </div>
                <div class="col-md-4 col-sm-12 form-group padding">
                  <label for="wallet" class="control-label">Wallet Amount</label>
                  <input type="wallet" class="form-control" id="wallet" [(ngModel)]="data.wallet" name="wallet" placeholder="Password" data-error="Please enter a valid email address."
                    required="">

                </div>
              </div>
            </div>
            <div class="col-md-12 col-lg-12 col-sm-12">
              <div class="row">
                <div class="col-md-4 col-sm-12 form-group padding ">
                  <label for="phone" class="control-label">Mobile</label>
                  <input type="text" class="form-control" id="phone" placeholder="phone No" [(ngModel)]="data.mobile" name="mobile" minlength="10"
                    maxlength="10" data-error="Please enter a valid email address." required="">

                </div>
                <div class="col-md-4 col-sm-12 form-group padding">
                  <label for="country" class="control-label">Country</label>
                  <!-- <ng-select [options]="countryList" [(ngModel)]="data.country" name="country" id="country">
                  </ng-select> -->
                  <select name="country" id="country" [(ngModel)]="data.country">
                    <option *ngFor="let item of country" value={{item.value}}>{{item.label}}</option>
                  </select>
                </div>
                <div class="col-md-4 col-sm-12 form-group padding">
                  <label for="city" class="control-label">City</label>
                  <select name="city" id="city" [(ngModel)]="data.city">
                    <option *ngFor="let item of city" value={{item.value}}>{{item.label}}</option>
                  </select>


                </div>
              </div>
            </div>
            <div class="col-md-12 col-lg-12 col-sm-12">
              <div class="row">
                <div class="col-md-4 col-sm-12 form-group padding">
                  <label for="status" class="control-label">Status</label>
                  <br>
                  <input type="text" class="form-control" [(ngModel)]="data.status" name="status" placeholder="status" data-error="" required="">
                  <!-- <label class="switch">
                    <input type="checkbox" [(ngModel)]="data.status" name="status" (change)="ifChecked($event)">
                    <span class="slider round"></span>
                  </label> -->

                </div>
                <div class="col-md-4 col-sm-12 form-group paddingfixheight">
                  <label for="gender" class="control-label">Gender</label>

                  <select id="genderr" [(ngModel)]="genderr" name="genderr" class="custom-select" data-error="This field is required." required="">
                    <option value="" selected="selected">Choose Gender</option>
                    <option value={{data.gender}}>Male</option>
                    <option value={{data.gender}}>Female</option>
                    <option value={{data.gender}}>Others</option>
                  </select>

                </div>
                <div class="col-md-4 col-sm-12 form-group padding ">
                  <label for="dob" class="control-label">Date of Birth</label>
                  <!-- <my-date-picker name="dob" [options]="myDatePickerOptions" [(ngModel)]="data.dob" id="dob" required></my-date-picker> -->
                  <input type="text" class="form-control" [(ngModel)]="data.dob" name="dob" placeholder="dob" data-error="" required="">
                </div>
              </div>
            </div>
            <div class="col-md-12 col-sm-12 form-group">
              <div class="row">
                <div class="col-sm-6 " style="margin-bottom:5px;">
                  <div class="col-md-12">
                    <button (click)="updateUser()" type="submit" class="btn btn-primary btn-block ">Submit</button>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="col-md-12">
                    <button type="submit" class="btn btn-danger btn-block ">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </nb-card-body>
      <nb-card-footer>
        <div class="site-footer">
          2017 © Logistica. Powered By
          <a href="http://wooftec.com/" target="_blank">wooftec</a>
        </div>
      </nb-card-footer>
    </nb-card>
</div>


  <style>
    label {
      color: #000000 !important;
    }

    tr td,
    table,
    .table td {
      vertical-align: middle !important;
    }

    .form-control {
      padding: 0.35rem;
      border: 1px solid #ced4da;
    }

    .custom-select {
      border-color: 2px solid #ccccb3 !important;
    }

    .nb-theme-default .input-group-addon,
    .nb-theme-default .form-control {
      border: none !important;
    }

    .help-block .with-errors {
      color: red !important;
    }

    select {
      width: 100%;
    }

    .padding {
      padding-bottom: 20px;
    }

    #grayOutDiv {
      background-color: #333;
      opacity: 0.7;
      position: fixed;
      top: 0px;
      left: 0px;
      height: 100%;
      width: 100%;
      overflow: hidden;
      z-index: 9999;
    }

    .flash-message {
      z-index: 10000;
      position: relative;
    }

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

select{
  border-radius: 0.35rem;    
    height: 2.3rem;
    border: 1px solid #ced4da;
}
  </style>