<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">
      <nb-card>
        <nb-card-header>
          <h2>Add Driver</h2> 
        </nb-card-header>
        <nb-card-body>
            <div>
                <form data-toggle="" novalidate="">
                  <div class="col-md-12 col-lg-12 col-sm-12">
                  <div class="row">
                   <div class="col-md-4 col-sm-12 form-group ">
                      <label for="name" class="control-label">Name</label>
                      <input type="text" 
                      class="form-control" 
                      id="inputdefault" 
                      [(ngModel)]="name" 
                      name="name"
                      placeholder="Name" 
                      data-error="" required="">
                      <div class="help-block with-errors">
                         <ul class="list-unstyled">
                            <li>Please enter a valid Name</li>
                         </ul>
                      </div>
                   </div>                  
                   <div class="col-md-4 col-sm-12 form-group  ">
                      <label for="form-control-2" class="control-label">Mobile No.</label>
                      <input type="text" class="form-control" id="form-control-2" placeholder="Mobile No" data-error="Please enter a valid email address." required="">
                      <div class="help-block with-errors">
                         <ul class="list-unstyled">
                            <li>Please enter a Mobile No</li>
                         </ul>
                      </div>
                   </div>
                   <div class="col-md-4 col-sm-12 form-group fixheight">
                      <label for="form-control-2" class="control-label">Alternate Number</label>
                      <input type="text" class="form-control" id="form-control-2" placeholder="Alternate No" data-error="" required="">
                      <div class="help-block with-errors">
                         <ul class="list-unstyled">
                            <li>Please enter a Alternate Number</li>
                         </ul>
                      </div>
                   </div>
                   </div>
                  </div>

                  <div class="col-md-12 col-lg-12 col-sm-12">
                  <div class="row">  
                    <div class="col-md-4 col-sm-12 form-group fixheight">
                        <label for="form-control-2" class="control-label">Email ID</label>
                        <input type="text" class="form-control" id="form-control-2" placeholder="Email" data-error="Please enter a valid email address." required="">
                        <div class="help-block with-errors">
                            <ul class="list-unstyled">
                              <li>Please enter a Email Id</li>
                            </ul>
                        </div>
                      </div>
                   <div class="col-md-4 col-sm-12 form-group ">
                      <label for="form-control-2" class="control-label">Password</label>
                      <input type="password" class="form-control" id="form-control-2" placeholder="Password" data-error="Please enter a valid email address." required="">
                      <div class="help-block with-errors">
                         <ul class="list-unstyled">
                            <li>Please enter a valid Password</li>
                         </ul>
                      </div>
                   </div>
                   <div class="col-md-4 col-sm-12 form-group fixheight">
                      <label for="form-control-2" class="control-label">Licence Number</label>
                      <input type="text" class="form-control" id="form-control-2" placeholder="Licence Number" data-error="Please enter a valid email address." required="">
                      <div class="help-block with-errors">
                         <ul class="list-unstyled">
                            <li>Please enter a Licence Number</li>
                         </ul>
                      </div>
                   </div>
                   </div>
                   </div>
                   <div class="col-md-12 col-lg-12 col-sm-12">
                      <div class="row">  
                          <div class="col-md-4 col-sm-12 form-group fixheight">
                              <label for="form-control-2" class="control-label">Date Of Birth</label>
                              <input type="text" class="form-control" id="form-control-2" placeholder="DOB" data-error="Please enter a valid email address." required="">
                              <div class="help-block with-errors">
                                 <ul class="list-unstyled">
                                    <li>Please enter a Date Of Birth</li>
                                 </ul>
                              </div>
                           </div>
                           <div class="col-md-4 col-sm-12 form-group fixheight">
                              <label for="form-control-2" class="control-label">Aadhar Number</label>
                              <input type="text" class="form-control" id="form-control-2" placeholder="Aadhar Number" data-error="Please enter a valid email address." required="">
                              <div class="help-block with-errors">
                                 <ul class="list-unstyled">
                                    <li>Please enter a Aadhar Number</li>
                                 </ul>
                              </div>
                           </div>
                           <div class="col-md-4 col-sm-12 form-group fixheight">
                              <label for="form-control-2" class="control-label">Driver Visibility</label>
                              <input type="text" class="form-control" id="form-control-2" placeholder="Driver Visibility" data-error="Please enter a valid email address." required="">
                              <div class="help-block with-errors">
                                 <ul class="list-unstyled">
                                    <li>Please enter a Driver Visibility</li>
                                 </ul>
                              </div>
                           </div>                       
                       </div>
                       </div>
                       <div class="col-md-12 col-lg-12 col-sm-12">
                          <div class="row">  
                              <div class="col-md-4 col-sm-12 form-group fixheight">
                                  <label for="form-control-2" class="control-label">Vechile ID</label>
                                  <input type="text" class="form-control" id="form-control-2" placeholder="Vechile ID" data-error="Please enter a valid email address." required="">
                                  <div class="help-block with-errors">
                                     <ul class="list-unstyled">
                                        <li>Please enter a Vechile ID</li>
                                     </ul>
                                  </div>
                               </div>
                              <div class="col-md-4 col-sm-12 form-group fixheight">
                                  <label for="form-control-3" class="control-label">Status</label><br>
                                  <select id="form-control-3" class="custom-select" data-error="This field is required." required="">
                                     <option value="" selected="selected">Choose Active / Deactive</option>
                                     <option value="1">Active</option>
                                     <option value="2">Deactive</option>
                                  </select>
                                  <div class="help-block with-errors">
                                     <ul class="list-unstyled">
                                        <li>Please enter a Active / Deactive</li>
                                     </ul>
                                  </div>
                               </div>                           
                           </div>
                           </div>                   
                   <div class="col-md-12 col-sm-12 form-group">
                      <div class="row">
                         <div class="col-sm-6 " style="margin-bottom:5px;">
                            <div class="col-md-12">
                               <button type="submit" class="btn btn-primary btn-block ">Submit</button>
                            </div>
                         </div>
                         <div class="col-sm-6">
                            <div class="col-md-12">
                               <button type="submit" class="btn btn-danger btn-block ">Cancel</button>
                            </div>
                         </div>
                      </div>
                   </div>
                </form>
             </div>        
        </nb-card-body>
        <nb-card-footer>
          <div class="site-footer">
            2017 © Logistica. Powered By <a href="http://wooftec.com/" target="_blank">wooftec</a>
         </div>
        </nb-card-footer>
      </nb-card>    
  </div>
  
  
  <style>
    label {
      color: #000000 !important;
    }

    .form-control {
      padding: 0.35rem;
      border: 1px solid #ced4da;
    }

    .custom-select {
      border-color: 2px solid #ccccb3 !important;
    }

    .nb-theme-default .input-group-addon,
    .nb-theme-default .form-control {
      border: none !important;
    }

    .help-block {
      color: #868e96 !important;
    }

    select {
      width: 100%;
    }
  </style>